<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group_type.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @group_type.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @group_type.updated_by %>
</p>

<%= link_to 'Edit', edit_group_type_path(@group_type) %> |
<%= link_to 'Back', group_types_path %>
